# ==========================================
# Application Config
# ==========================================
APP_PORT=3000
APP_NAME="Sockets API"

# ==========================================
# PostgreSQL Config
# ==========================================
POSTGRES_DB=sockets
POSTGRES_USER=sockets

POSTGRES_PORT=5432
POSTGRES_HOST=localhost

POSTGRES_PASSWORD=
POSTGRES_URL="postgres://username:password@localhost:5432/sockets"

# ==========================================
# Redis & Cache Config
# ==========================================
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_URL="redis://localhost:6379"

# ==========================================
# Security Config
# ==========================================
SECRET_KEY="sample_secret_key"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"
